<p>Cauta un tichet:</p>
<input type="text" [(ngModel)]="searchText">

<br><br>

<h3>Adauga un nou ticket custom:</h3>

<p>Titlu tichet nou:</p>
<input type="text" [(ngModel)]="title">

<p>Prioritatea:</p>
<select [(ngModel)]="priority">
    <option value="1">LOW</option>
    <option value="2">MEDIUM</option>
    <option value="3">HIGH</option>
</select>

<button (click)="addTicket()">Adauga</button>

<br><br>

<button (click)="clearList()">Sterge tichetele</button>
<button (click)="populateList()">Populeaza lista de tichete mock</button>

<br><br>

@if (filteredTickets.length == 0) {
    <p>Lista de tichete este vida!</p>
}

<!--Daca nu exista tichete, stie singur sa nu incerce bucla for-->
@for (ticket of filteredTickets; track ticket.id) {
    <app-ticket-card></app-ticket-card>
}